#answer_box {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#answer_gif {
  width: 75%;
  border-radius: 10px;
}
#answer_shortcut_ans{
  width: 30%;
}

#is_correct_img{
  width: 100px;
}

