.position {
    display: flex;
    text-align: center;
}

.left {
    width: 30%;
}

.center {
    width: 70%;
}

.center img {
    width: 85%;
    border-radius: 10px;
}

.right {
    width: 30%;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
}

#clearButton {
    width: 80px;
    height: 30px;
}

form input {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

#keyInput {
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.center_bottom{
    display: flex;
    justify-content: center;
}


.oorx img {
    width: 100px;

}